body {
    margin: 0;
    font-family: 'Reem Kufi Ink';
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #000320;
    color: #fff;
    width: 22vw;
    padding: 2rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    padding-left: 0.8rem;
    margin-bottom: 20px;
    font-size: 59px;
    font-weight: 700;
    letter-spacing: -0.1em;
}

.logo .logo-accent {
    color: #00c1ff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    padding: 15px;
    margin: 20px 0;
    background-color: #000320;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.sidebar ul li:active,
.sidebar ul li:hover {
    background: #13152C;
}

.icon {
    margin-right: 10px;
}

.pagina-perfil{
    width: 78%;
    background-color: #000320;
    overflow-y: auto
}

.content {
    border-radius: 40px 0px 0px 0px;
    background: conic-gradient(from 164.75deg at -24.86% 41.06%, #000724 0deg, #00798F 16.16deg, #005870 173.21deg, #00546C 182.74deg, #00526B 198.65deg, #004962 221.05deg, #002540 249.92deg, #00213C 257.17deg, #001B36 265.49deg, #001733 279.88deg, #001430 294deg, #000F2C 306.14deg, #000C29 313.59deg, #000A27 326.86deg, #000925 337.38deg, #000320 354.32deg, #000724 360deg);
    color: #fff;
    padding: 30px 90px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.nome{
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}

.card-perfil {
    align-self: center;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
    width: 338px;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    gap: 0px;
    border: solid 4px #fff;
    border-radius: 50%;
    margin-bottom: 20px;
}

.status {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.item-status{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.info-contato {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.email, .pais {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.icon-email {
    margin-right: 10px;
}

.icon-pais {
    border-radius: 6px;
    width: 60px;
    height: 44px;
    margin-right: 9px;
}

.btn-sair{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: -18px;
}
.reports {
    margin-top: 20px;
}

.report-button {
    background-color: #00c1ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px 0;
}

.report-button:hover {
    background-color: #00a3d6;
}

.card-playlists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.titulo-2 {
    font-size: 32px;
    text-align: center;
    margin-top: 5rem;
    letter-spacing: 1px;
}

.nome-playlist{
    font-size: 22px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Reduzir a margem inferior */
}

.search-input {
    width: 185px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 16px;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.search-button {
    padding: 8px 16px;
    background-color: #1db954; /* Spotify green color */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: 'Reem Kufi Ink', sans-serif;
    cursor: pointer;
}

.search-button:hover {
    background-color: #1ed760; /* Lighter green for hover effect */
}

.search-input:focus,
.search-button:focus {
    outline: none;
}

.report-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 10px; /* Reduzir a margem superior */
}

.report-link .icon {
    margin-right: 8px; /* Ajustar espaçamento entre o ícone e o texto */
}

.report-link i {
    display: inline-flex;
}

.icon-pesquisa {
    width: 18px;
    display: flex;
    padding: 3px 0px;
}