<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Here is your profile information from Spotify:</p>
<ul>
    <li>ID: <span th:text="${userInfo['id']}">User ID</span></li>
    <li>Name: <span th:text="${userInfo['display_name']}">User Name</span></li>
    <li>Email: <span th:text="${userInfo['email']}">email@example.com</span></li>
    <li>Country: <span th:text="${userInfo['country']}">Country</span></li>
    <li>Followers: <span th:text="${userInfo['followers']['total']}">0</span></li>
    <li>Profile Picture: <img th:src="${userInfo['images'][0]['url']}" alt="Profile Picture" /></li>
</ul>
<a href="/logout">Logout</a>
</body>
</html>
